<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Exam</title>
    <style>
        body{
        background-color: pink;
        color:blue;
        }
        #nav{
        color:red;
        }


    </style>
</head>
<body>
<nav>
    <header> Online Examination Syatem </header>

    <div id="menu">
        <h4>
            <h3>
                <a href="logoutu"> LogOut</a><br>
                <a href="Profile"> Profile</a><br>
                <a href="texam"> Exam</a><br>
        <a href="result"> Result</a><br>
        <a href="profile.html"> Profile</a><br>

            </h3>
        </h4>



    </div>
</nav>
<div>

    {%block content%}
    {%endblock%}
</div>

</body>
</html>