<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <div>
        <h1> Login</h1>
        <form method="POST" action="loginu">
                        {%csrf_token%}

            <label>Username : </label>
            <input type="text" name="username"><br>
            <label>Password : </label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Login !!">

            <br><br>


        </form>
    </div>

    <BR>
    <button><a href="/signup">Signup</a></button>
</div>
</body>
